<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuowen.yuzong.data.mapper.IPA.IPAMapper">

    <!-- 音节表相关查询 -->

    <!-- 关键字：标注拼音，单行信息 -->
    <select id="findSyllableByStandard" resultType="com.shuowen.yuzong.data.model.IPA.IPASyllableEntity">
        select * from NC.${dialect}_ipa_syllable where standard = #{standard}
    </select>

    <!-- 关键字：编码，单行信息 -->
    <select id="findSyllableByCode" resultType="com.shuowen.yuzong.data.model.IPA.IPASyllableEntity">
        select * from NC.${dialect}_ipa_syllable where code = #{code}
    </select>

    <!-- 获取音节表的所有信息，按照编号排序 -->
    <select id="getAllSyllable" resultType="com.shuowen.yuzong.data.model.IPA.IPASyllableEntity">
        select * from NC.${dialect}_ipa_syllable order by code
    </select>

    <!-- 批量查询音节信息 -->
    <select id="findSyllableListByStandard" resultType="com.shuowen.yuzong.data.model.IPA.IPASyllableEntity">
        SELECT * FROM NC.${dialect}_ipa_syllable WHERE standard IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="insertSyllable" parameterType="com.shuowen.yuzong.data.model.IPA.IPASyllableEntity">
        insert into NC.${dialect}_ipa_syllable (standard, Code, info)
        values (#{standard}, #{code}, #{info})
    </select>

    <select id="changeSyllableInfo" parameterType="com.shuowen.yuzong.data.model.IPA.IPASyllableEntity">
        update NC.${dialect}_ipa_syllable
        set info = #{py.info}
        where standard = #{py.standard} ;
    </select>

    <!-- 音节成分表相关查询 -->

    <!-- 通过带空位的code查询 -->
    <select id="findSegmentByCode" resultType="com.shuowen.yuzong.data.model.IPA.IPASyllableEntity">
        select * from NC.${dialect}_ipa_segment where code = #{code}
    </select>

    <!-- order by code 保证了一定是先声母再韵母 -->
    <select id="findSegmentListByCode" resultType="com.shuowen.yuzong.data.model.IPA.IPASyllableEntity">
        select * from NC.${dialect}_ipa_segment where code in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by code
    </select>

    <select id="getAllSegment" resultType="com.shuowen.yuzong.data.model.IPA.IPASyllableEntity">
        select * from NC.${dialect}_ipa_segment order by code
    </select>

    <!-- 声调表相关查询 -->

    <!-- 单行信息 -->
    <select id="findToneByTone" resultType="com.shuowen.yuzong.data.model.IPA.IPAToneEntity">
        select * from NC.${dialect}_ipa_tone where standard = #{tone}
    </select>

    <!-- 多行信息 -->
    <select id="findToneListByTone" resultType="com.shuowen.yuzong.data.model.IPA.IPAToneEntity">
        SELECT * FROM NC.${dialect}_ipa_tone WHERE standard IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 所有信息 -->
    <select id="getAllTone" resultType="com.shuowen.yuzong.data.model.IPA.IPAToneEntity">
        select * from NC.${dialect}_ipa_tone order by standard
    </select>

</mapper>