<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuowen.yuzong.data.mapper.Character.CharMapper">

    <!-- 下面这一段是查询的时候复杂字段的合成 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <!-- 主表 -->
    <sql id="baseFields">
        main.*
    </sql>

    <!-- 模糊匹配汉字的字段 -->
    <sql id="similarField">
        CONCAT(
        '{"sc" : [',
        COALESCE(GROUP_CONCAT(DISTINCT '"', similar_field.hanzi, '"'), ''),
        '], "tc": [',
        COALESCE(GROUP_CONCAT(DISTINCT '"', similar_field.hantz, '"'), ''),
        ']}'
        ) AS similar
    </sql>

    <!-- 多拼音字段 -->
    <sql id="mulPyField">
        CONCAT( '[',
        GROUP_CONCAT(DISTINCT
        '{"sc": "', pinyin.sc, '", "tc": "', pinyin.tc, '", "content": "', pinyin.pinyin, '"}'
        ORDER BY pinyin.sort ASC
        SEPARATOR ',' ), ']'
        ) AS mul_py
    </sql>

    <!-- 普通话对应信息字段 -->
    <sql id="mdrInfoField">
        CONCAT( '[',
        COALESCE(GROUP_CONCAT(DISTINCT '"', mdr.info, '"' SEPARATOR ','), ''),
        ']' ) AS mdr_info
    </sql>

    <!-- 普通话对应信息字段 -->
    <sql id="allFields">
        <include refid="baseFields"/>,
        <include refid="similarField"/>,
        <include refid="mulPyField"/>,
        <include refid="mdrInfoField"/>
    </sql>

    <!-- 基础表连接 -->
    <sql id="baseTable">
        FROM NC.${dialect}_char main
    </sql>

    <!-- 相似字符表连接 -->
    <sql id="similarTableJoin">
        LEFT JOIN NC.${dialect}_char_similar similar ON main.id = similar.char_id
        LEFT JOIN NC.${dialect}_char_similar similar_field ON main.id = similar_field.char_id
    </sql>

    <!-- 拼音表连接 -->
    <sql id="pinyinTableJoin">
        LEFT JOIN NC.${dialect}_char_pinyin pinyin ON main.id = pinyin.char_id
    </sql>

    <!-- mdr表连接 -->
    <sql id="mdrTableJoin">
        LEFT JOIN NC.${dialect}_char_mdr char_mdr ON main.id = char_mdr.n
        LEFT JOIN NC.mdr_char mdr ON char_mdr.m = mdr.id
    </sql>

    <sql id="allJoin">
        <include refid="baseTable"/>
        <include refid="similarTableJoin"/>
        <include refid="pinyinTableJoin"/>
        <include refid="mdrTableJoin"/>
    </sql>


    <!-- 使用简繁体寻找汉字 -->
    <select id="findHanziByScTc" resultType="com.shuowen.yuzong.data.model.Character.CharEntity">
        SELECT
        <include refid="allFields"/>
        <include refid="allJoin"/>
        WHERE BINARY main.hanzi = #{hanzi}
        OR BINARY main.hantz = #{hanzi}
        GROUP BY main.id
        ORDER BY main.special
    </select>

    <!-- 使用简繁体、模糊识别寻找汉字 -->
    <select id="findHanziByVague" resultType="com.shuowen.yuzong.data.model.Character.CharEntity">
        SELECT
        <include refid="allFields"/>
        <include refid="allJoin"/>
        WHERE BINARY main.hanzi = #{hanzi}
        OR BINARY main.hantz = #{hanzi}
        OR BINARY similar.hanzi = #{hanzi}
        OR BINARY similar.hantz = #{hanzi}
        GROUP BY main.id
        ORDER BY main.special
    </select>

    <select id="findHanziByScOrTc" resultType="com.shuowen.yuzong.data.model.Character.CharEntity">
        SELECT
        <include refid="allFields"/>
        <include refid="allJoin"/>
        WHERE BINARY main.${lang == 'sc' ? 'hanzi' : 'hantz'} = #{hanzi}
        GROUP BY main.id
        ORDER BY main.special
    </select>

    <select id="getAllChar" resultType="com.shuowen.yuzong.data.model.Character.CharEntity">
        SELECT
        <include refid="allFields"/>
        <include refid="allJoin"/>
        GROUP BY main.id
    </select>

    <!-- 下面这一段是和编辑有关的内容 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <select id="getRandomCharId" resultType="int">
        SELECT id FROM NC.${dialect}_char
        LIMIT FLOOR(RAND() * (SELECT COUNT(*) FROM dict_word)), 1;
    </select>

    <!-- 通过主键寻找汉字 -->
    <select id="findHanziByCharId" resultType="com.shuowen.yuzong.data.model.Character.CharEntity">
        SELECT * FROM NC.${dialect}_char
        WHERE id = #{id}
        GROUP BY id
    </select>

    <!-- 通过主键寻找：附表里的模糊识别汉字 -->
    <select id="findHanziSimilarByCharId" resultType="com.shuowen.yuzong.data.model.Character.CharSimilar">
        SELECT * FROM NC.${dialect}_char_similar
        WHERE char_id = #{id}
    </select>

    <!-- 通过主键寻找：附表里的多种拼音 -->
    <select id="findHanziPinyinByCharId" resultType="com.shuowen.yuzong.data.model.Character.CharPinyin">
        SELECT * FROM NC.${dialect}_char_pinyin
        WHERE char_id = #{id}
        ORDER BY sort
    </select>

    <!-- 如果之前没有这个id：插入新的数据 -->
    <!-- |                        | -->
    <!-- |                        | -->

    <!--  插入新的内容（主表）  -->
    <insert id="insertChar" parameterType="com.shuowen.yuzong.data.model.Character.CharEntity" useGeneratedKeys="true"
            keyProperty="ch.id">
        INSERT INTO ${dialect}_char
        (hanzi, hantz, std_py, special, ipa_exp, mean, note, refer)
        VALUES
        (#{ch.hanzi}, #{ch.hantz}, #{ch.stdPy}, #{ch.special}, #{ch.ipaExp}, #{ch.mean}, #{ch.note}, #{ch.refer})
    </insert>

    <!--  插入新的内容（Similar表）  -->
    <insert id="insertCharSimilar" parameterType="com.shuowen.yuzong.data.model.Character.CharSimilar">
        INSERT into NC.${dialect}_char_similar
        (char_id, hanzi, hantz)
        VALUES (#{ch.charId}, #{ch.hanzi}, #{ch.hantz})
    </insert>

    <!--  插入新的内容（Pinyin表）  -->
    <insert id="insertCharPinyin" parameterType="com.shuowen.yuzong.data.model.Character.CharPinyin">
        INSERT INTO NC.${dialect}_char_pinyin
        (char_id, sc, tc, pinyin, sort)
        VALUES (#{ch.charId}, #{ch.sc}, #{ch.tc}, #{ch.pinyin}, #{ch.sort})
    </insert>


    <!-- 如果之前已经有了这个id：覆盖非重要字段 -->
    <!-- |                             | -->
    <!-- |                             | -->

    <!--  更新内容（主表）  -->
    <update id="updateCharById" parameterType="com.shuowen.yuzong.data.model.Character.CharEntity">
        UPDATE NC.${dialect}_char
        SET
        std_py = #{ch.stdPy},
        special = #{ch.special},
        ipa_exp = #{ch.ipaExp},
        mean = #{ch.mean},
        note = #{ch.note},
        refer = #{ch.refer}
        WHERE id = #{ch.id}
    </update>

    <!--  更新内容（Similar表）  -->
    <update id="updateCharSimilarById" parameterType="com.shuowen.yuzong.data.model.Character.CharSimilar">
        UPDATE NC.${dialect}_char_similar
        SET
        char_id = #{ch.charId}, hanzi = #{ch.hanzi}, hantz = #{ch.hantz}
        WHERE id = #{ch.id}
    </update>

    <!--  更新内容（Pinyin表）  -->
    <update id="updateCharPinyinById" parameterType="com.shuowen.yuzong.data.model.Character.CharPinyin">
        UPDATE NC.${dialect}_char_pinyin
        SET
        char_id = #{ch.charId}, sc = #{ch.sc}, tc = #{ch.tc}, pinyin = #{ch.pinyin}, sort = #{ch.sort}
        WHERE id = #{ch.id}
    </update>


    <!-- 删除  - - - - - - - - - - - - - -->
    <!-- |                             | -->
    <!-- |                             | -->

    <delete id="deleteCharSimilarById">
        DELETE FROM NC.${dialect}_char_similar WHERE id = #{id}
    </delete>

    <delete id="deleteCharPinyinById">
        DELETE FROM NC.${dialect}_char_pinyin WHERE id = #{id}
    </delete>


    <!-- 编辑的时候找到前一个或后一个元素  - - -->
    <!-- |                             | -->
    <!-- |                             | -->

    <select id="findPreviousId" parameterType="Integer" resultType="Integer">
        SELECT * FROM NC.${dialect}_char
        WHERE id &lt; #{id}
        ORDER BY id DESC
        LIMIT 1;
    </select>

    <select id="findNextId" parameterType="Integer" resultType="Integer">
        SELECT * FROM NC.${dialect}_char
        WHERE id > #{id}
        ORDER BY id ASC
        LIMIT 1;
    </select>

    <select id="findByUniqueKey"
            parameterType="com.shuowen.yuzong.data.model.Character.CharEntity"
            resultType="com.shuowen.yuzong.data.model.Character.CharEntity"
    >
        SELECT * FROM NC.${dialect}_char
        WHERE
        hanzi = #{ch.hanzi} AND
        hantz = #{ch.hantz} AND
        std_py = #{ch.stdPy}
    </select>

    <select id="findRowCountInHanziTable" resultType="int">
        SELECT COUNT(*) FROM NC.${dialect}_char
    </select>

    <select id="findRowCountInPinyinTable" resultType="int">
        SELECT COUNT(*) FROM NC.${dialect}_char_pinyin
    </select>

</mapper>