<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuowen.yuzong.dict.hanzi.mapper.HanziMapper">
    <sql id="fields"><![CDATA[
        main.*,
        COALESCE((SELECT JSON_ARRAYAGG(JSON_OBJECT('sc', s.sc, 'tc', s.tc))
                  FROM NC.${dialect}_hanzi_similar s WHERE s.hanzi_id = main.id), JSON_ARRAY()) AS similar
        FROM NC.${dialect}_hanzi main
    ]]></sql>

    <select id="findHanziByScTc" resultType="com.shuowen.yuzong.dict.hanzi.model.HanziEntity">
        SELECT <include refid="fields"/>
        WHERE CAST(main.sc AS BINARY) = CAST(#{hanzi} AS BINARY) OR CAST(main.tc AS BINARY) = CAST(#{hanzi} AS BINARY)
    </select>
    <select id="findHanziByVague" resultType="com.shuowen.yuzong.dict.hanzi.model.HanziEntity">
        SELECT <include refid="fields"/>
        WHERE CAST(main.sc AS BINARY) = CAST(#{hanzi} AS BINARY) OR CAST(main.tc AS BINARY) = CAST(#{hanzi} AS BINARY)
           OR EXISTS (SELECT 1 FROM NC.${dialect}_hanzi_similar s WHERE s.hanzi_id = main.id
                      AND (CAST(s.sc AS BINARY) = CAST(#{hanzi} AS BINARY) OR CAST(s.tc AS BINARY) = CAST(#{hanzi} AS BINARY)))
    </select>
    <select id="findHanziByScOrTc" resultType="com.shuowen.yuzong.dict.hanzi.model.HanziEntity">
        SELECT <include refid="fields"/> WHERE CAST(main.${lang} AS BINARY) = CAST(#{hanzi} AS BINARY)
    </select>
    <select id="findHanziByScTcBatch" resultType="com.shuowen.yuzong.dict.hanzi.model.HanziEntity">
        SELECT <include refid="fields"/>
        WHERE main.sc IN <foreach collection="hanzi" item="item" open="(" separator="," close=")">#{item}</foreach>
           OR main.tc IN <foreach collection="hanzi" item="item" open="(" separator="," close=")">#{item}</foreach>
    </select>
    <select id="getAllHanzi" resultType="com.shuowen.yuzong.dict.hanzi.model.HanziEntity">
        SELECT <include refid="fields"/>
    </select>
    <select id="findHanziByCharId" resultType="com.shuowen.yuzong.dict.hanzi.model.HanziEntity">
        SELECT * FROM NC.${dialect}_hanzi WHERE id = #{id}
    </select>
    <select id="findByUniqueKey" resultType="com.shuowen.yuzong.dict.hanzi.model.HanziEntity">
        SELECT * FROM NC.${dialect}_hanzi WHERE CAST(sc AS BINARY) = CAST(#{ch.sc} AS BINARY)
          AND CAST(tc AS BINARY) = CAST(#{ch.tc} AS BINARY)
    </select>
    <select id="findHanziSimilarByCharId" resultType="com.shuowen.yuzong.dict.hanzi.model.HanziSimilar">
        SELECT id, hanzi_id, sc, tc FROM NC.${dialect}_hanzi_similar WHERE hanzi_id = #{id}
    </select>
    <insert id="insertChar" useGeneratedKeys="true" keyProperty="ch.id">
        INSERT INTO NC.${dialect}_hanzi (sc, tc, pinyin, special, note, status)
        VALUES (#{ch.sc}, #{ch.tc}, #{ch.pinyin}, #{ch.special}, #{ch.note}, #{ch.status})
    </insert>
    <insert id="insertCharSimilar">
        INSERT INTO NC.${dialect}_hanzi_similar (hanzi_id, sc, tc) VALUES (#{ch.hanziId}, #{ch.sc}, #{ch.tc})
    </insert>
    <update id="updateCharById">
        UPDATE NC.${dialect}_hanzi SET sc=#{ch.sc}, tc=#{ch.tc}, pinyin=#{ch.pinyin}, special=#{ch.special},
          note=#{ch.note}, status=#{ch.status} WHERE id=#{ch.id}
    </update>
    <update id="updateCharSimilarById">
        UPDATE NC.${dialect}_hanzi_similar SET hanzi_id=#{ch.hanziId}, sc=#{ch.sc}, tc=#{ch.tc} WHERE id=#{ch.id}
    </update>
    <delete id="deleteCharSimilarById">DELETE FROM NC.${dialect}_hanzi_similar WHERE id=#{id}</delete>
    <select id="getRandomId" resultType="int">SELECT id FROM NC.${dialect}_hanzi ORDER BY RAND() LIMIT 1</select>
    <select id="findPrevId" resultType="Integer"><![CDATA[
        SELECT id FROM NC.${dialect}_hanzi
        WHERE (COALESCE(JSON_UNQUOTE(JSON_EXTRACT(pinyin, '$[0].code')), ''), id) <
              (SELECT COALESCE(JSON_UNQUOTE(JSON_EXTRACT(pinyin, '$[0].code')), ''), id FROM NC.${dialect}_hanzi WHERE id=#{id})
        ORDER BY COALESCE(JSON_UNQUOTE(JSON_EXTRACT(pinyin, '$[0].code')), '') DESC, id DESC LIMIT 1
    ]]></select>
    <select id="findNextId" resultType="Integer"><![CDATA[
        SELECT id FROM NC.${dialect}_hanzi
        WHERE (COALESCE(JSON_UNQUOTE(JSON_EXTRACT(pinyin, '$[0].code')), ''), id) >
              (SELECT COALESCE(JSON_UNQUOTE(JSON_EXTRACT(pinyin, '$[0].code')), ''), id FROM NC.${dialect}_hanzi WHERE id=#{id})
        ORDER BY COALESCE(JSON_UNQUOTE(JSON_EXTRACT(pinyin, '$[0].code')), ''), id LIMIT 1
    ]]></select>
    <select id="findRowCountInHanziTable" resultType="int">SELECT COUNT(*) FROM NC.${dialect}_hanzi</select>
    <select id="findRowCountInPinyinTable" resultType="int">SELECT COALESCE(SUM(JSON_LENGTH(pinyin)),0) FROM NC.${dialect}_hanzi</select>
</mapper>
