<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuowen.yuzong.dao.mapper.Character.NamCharMapper">

    <!-- 基础字段定义 -->
    <sql id="baseFields">
        main.*
    </sql>

    <!-- 复用字段定义 -->
    <sql id="similarField">
        CONCAT(
        '{"sc" : [',
        COALESCE(GROUP_CONCAT(DISTINCT '"', similar_field.hanzi, '"'), ''),
        '], "tc": [',
        COALESCE(GROUP_CONCAT(DISTINCT '"', similar_field.hantz, '"'), ''),
        ']}'
        ) AS similar
    </sql>

    <!-- 多拼音字段 -->
    <sql id="mulPyField">
        CONCAT( '[',
        GROUP_CONCAT(DISTINCT
        '{"sc": "', pinyin.sc, '", "tc": "', pinyin.tc, '", "content": "', pinyin.pinyin, '"}'
        ORDER BY pinyin.sort ASC
        SEPARATOR ',' ), ']'
        ) AS mul_py
    </sql>

    <sql id="allFields">
        <include refid="baseFields"/>,
        <include refid="similarField"/>,
        <include refid="mulPyField"/>
    </sql>

    <!-- 基础表连接 -->
    <sql id="baseTable">
        FROM NC.nam_char main
    </sql>

    <!-- 相似字符表连接 -->
    <sql id="similarTableJoin">
        LEFT JOIN NC.nam_char_similar similar ON main.id = similar.char_id
        LEFT JOIN NC.nam_char_similar similar_field ON main.id = similar_field.char_id
    </sql>

    <!-- 拼音表连接 -->
    <sql id="pinyinTableJoin">
        LEFT JOIN NC.nam_char_pinyin pinyin ON main.id = pinyin.char_id
    </sql>

    <sql id="allJoin">
        <include refid="baseTable"/>
        <include refid="similarTableJoin"/>
        <include refid="pinyinTableJoin"/>
    </sql>


    <!-- 使用简繁体寻找汉字 -->
    <select id="findHanziByScTc" resultType="com.shuowen.yuzong.dao.model.Character.CharEntity">
        SELECT
        <include refid="allFields"/>
        <include refid="allJoin"/>
        WHERE main.hanzi = #{hanzi}
        OR main.hantz = #{hanzi}
        GROUP BY main.id
        ORDER BY main.special
    </select>

    <!-- 使用简繁体、模糊识别寻找汉字 -->
    <select id="findHanziByVague" resultType="com.shuowen.yuzong.dao.model.Character.CharEntity">
        SELECT
        <include refid="allFields"/>
        <include refid="allJoin"/>
        WHERE main.hanzi = #{hanzi}
        OR main.hantz = #{hanzi}
        OR similar.hanzi = #{hanzi}
        OR similar.hantz = #{hanzi}
        GROUP BY main.id
        ORDER BY main.special
    </select>


    <!-- 下面这一段是和编辑有关的内容  -->
    <!-- |                       -->
    <!-- |                       -->
    <!-- |                       -->
    <!-- |                       -->
    <!-- |                       -->
    <!-- |（稍大一点的分隔符）       -->


    <!-- 通过主键寻找汉字 -->
    <select id="findHanziByCharId" resultType="com.shuowen.yuzong.dao.model.Character.CharEntity">
        SELECT * FROM NC.nam_char
        WHERE id = #{id}
        GROUP BY id
    </select>

    <!-- 通过主键寻找：附表里的模糊识别汉字 -->
    <select id="findHanziSimilarByCharId" resultType="com.shuowen.yuzong.dao.model.Character.CharSimilar">
        SELECT * FROM NC.nam_char_similar
        WHERE char_id = #{id}
    </select>

    <!-- 通过主键寻找：附表里的多种拼音 -->
    <select id="findHanziPinyinByCharId" resultType="com.shuowen.yuzong.dao.model.Character.CharPinyin">
        SELECT * FROM NC.nam_char_pinyin
        WHERE char_id = #{id}
    </select>

    <!-- 如果之前没有这个id：插入新的数据 -->
    <!-- |                        | -->
    <!-- |                        | -->

    <!--  插入新的内容（主表）  -->
    <insert id="insertChar" parameterType="com.shuowen.yuzong.dao.model.Character.CharEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO nam_char
        (hanzi, hantz, std_py, special, ipa_exp, mean, note, refer)
        VALUES
        (#{hanzi}, #{hantz}, #{stdPy}, #{special}, #{ipaExp}, #{mean}, #{note}, #{refer})
    </insert>

    <!--  插入新的内容（Similar表）  -->
    <insert id="insertCharSimilar" parameterType="com.shuowen.yuzong.dao.model.Character.CharSimilar">
        INSERT into NC.nam_char_similar
        (char_id, hanzi, hantz)
        VALUES (#{charId}, #{hanzi}, #{hantz})
    </insert>

    <!--  插入新的内容（Pinyin表）  -->
    <insert id="insertCharPinyin" parameterType="com.shuowen.yuzong.dao.model.Character.CharPinyin">
        INSERT INTO NC.nam_char_pinyin
        (char_id, sc, tc, pinyin, sort)
        VALUES (#{charId}, #{sc}, #{tc}, #{pinyin}, #{sort})
    </insert>


    <!-- 如果之前已经有了这个id：覆盖非重要字段 -->
    <!-- |                             | -->
    <!-- |                             | -->

    <!--  更新内容（主表）  -->
    <update id="updateCharById" parameterType="com.shuowen.yuzong.dao.model.Character.CharEntity">
        UPDATE NC.nam_char
        SET
        special = #{special}, ipa_exp = #{ipaExp}, mean = #{mean}, note = #{note}, refer = #{refer}
        WHERE id = #{id}
    </update>

    <!--  更新内容（Similar表）  -->
    <update id="updateCharSimilarById" parameterType="com.shuowen.yuzong.dao.model.Character.CharSimilar">
        UPDATE NC.nam_char_similar
        SET
        char_id = #{charId}, hanzi = #{hanzi}, hantz = #{hantz}
        WHERE id = #{id}
    </update>

    <!--  更新内容（Pinyin表）  -->
    <update id="updateCharPinyinById" parameterType="com.shuowen.yuzong.dao.model.Character.CharPinyin">
        UPDATE NC.nam_char_pinyin
        SET
        char_id = #{charId}, sc = #{sc}, tc = #{tc}, pinyin = #{pinyin}, sort = #{sort}
        WHERE id = #{id}
    </update>


    <!-- 删除  - - - - - - - - - - - - - -->
    <!-- |                             | -->
    <!-- |                             | -->

    <delete id="deleteCharSimilarById">
        DELETE FROM NC.nam_char_similar WHERE id = #{id}
    </delete>

    <delete id="deleteCharPinyinById">
        DELETE FROM NC.nam_char_pinyin WHERE id = #{id}
    </delete>
    
    
    <select id="findPreviousItem" parameterType="Integer" resultType="Integer">
        SELECT * FROM nam_char
        WHERE id &lt; #{id}
        ORDER BY id DESC
        LIMIT 1;
    </select>
    
    <select id="findNextItem" parameterType="Integer" resultType="Integer">
        SELECT * FROM nam_char
        WHERE id > #{id}
        ORDER BY id ASC
        LIMIT 1;
    </select>

</mapper>