<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuowen.yuzong.data.mapper.Character.NamNotationMapper">

    <select id="selectMdrDialectChars" resultType="com.shuowen.yuzong.data.model.Character.DialectChar">
        select info, std_py
        from mdr_char mdr
        RIGHT JOIN NC.nam_char_mdr map ON mdr.id = map.m
        RIGHT JOIN NC.nam_char main ON map.n = main.id
        WHERE info IN
        <foreach collection="list" item="info" open="(" separator="," close=")">
            #{info}
        </foreach>
        GROUP BY m, n
    </select>

    <select id="getMdrInfoByDialectId" resultType="com.shuowen.yuzong.data.model.Character.CharMdr">
        SELECT map.n left_id, map.m right_id, info
        FROM nam_char_mdr map
        RIGHT JOIN mdr_char ON map.m = id
        WHERE map.n = #{id};
    </select>

    <delete id="clearMapByDialectId">
        DELETE FROM nam_char_mdr WHERE n = #{id}
    </delete>

    <insert id="insertMap">
        INSERT INTO
        nam_char_mdr values (#{m}, #{n})
    </insert>
</mapper>