<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuowen.yuzong.dict.hanzi.mapper.PronunMapper">
    <select id="getAllHanziInGBK" resultType="String">SELECT info FROM NC.mdr_char</select>
    <select id="getAllHanziFreq" resultType="String">SELECT info FROM NC.mdr_char</select>
    <select id="findHanziFreqByPinyin" resultType="String">
        SELECT hanzi FROM NC.mdr_char WHERE pinyin=#{syll} AND tone=#{tone} AND (in_3500=1 OR in_4800=1)
    </select>
    <select id="getHanziCommonByPinyin" resultType="Integer">
        SELECT id FROM NC.mdr_char WHERE
        <choose><when test="language == 'sc'">in_3500=1</when><otherwise>in_4800=1</otherwise></choose>
        AND CONCAT(pinyin,tone)=#{pinyin}
    </select>
    <select id="getInfoByScTc" resultType="com.shuowen.yuzong.dict.hanzi.model.MdrChar">
        SELECT info, id AS mandarin_id FROM NC.mdr_char
        WHERE CAST(hanzi AS BINARY)=CAST(#{sc} AS BINARY) OR CAST(hanzi AS BINARY)=CAST(#{tc} AS BINARY)
        ORDER BY id
    </select>
    <select id="getMappedMandarinIds" resultType="Integer"><![CDATA[
        SELECT DISTINCT mapping.mandarin_id
        FROM NC.${dialect}_hanzi h
        JOIN JSON_TABLE(h.pinyin, '$[*]' COLUMNS (mandarin JSON PATH '$.mandarin')) py
        JOIN JSON_TABLE(py.mandarin, '$[*]' COLUMNS (mandarin_id INT PATH '$')) mapping
        WHERE h.id <> #{excludeHanziId}
    ]]>
        AND mapping.mandarin_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </select>
</mapper>
