<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuowen.yuzong.dao.mapper.Word.NamWordMapper">

    <!-- 复用字段定义 -->
    <sql id="similarField">
        CONCAT(
        '{"sc" : [',
        COALESCE(GROUP_CONCAT(DISTINCT '"', p.ciyu, '"'), ''),
        '], "tc": [',
        COALESCE(GROUP_CONCAT(DISTINCT '"', p.tszyu, '"'), ''),
        ']}'
        ) AS similar
    </sql>

    <!-- 拼音字段 -->
    <sql id="pinyinField">
        (
        SELECT CONCAT('[', GROUP_CONCAT( char_pinyin_json ORDER BY char_index SEPARATOR ',' ), ']' )
        FROM (
        SELECT wpm.word_id, wpm.char_index,
        CONCAT('[',
        GROUP_CONCAT(
        CONCAT('{"id":', wpm.pinyin_id, ',"pinyin":"', cp.pinyin, '","sc":"', cp.sc, '","tc":"', cp.tc, '"}')
        ORDER BY wpm.sort_order SEPARATOR ','
        ),
        ']'
        ) AS char_pinyin_json
        FROM nam_word_pinyin_map wpm
        INNER JOIN nam_char_pinyin cp ON wpm.pinyin_id = cp.id
        WHERE wpm.word_id = m.id
        GROUP BY wpm.word_id, wpm.char_index
        ) char_aggregates
        ) AS mul_py
    </sql>

    <!-- 连接字段 -->
    <sql id="baseJoin">
        FROM NC.nam_word m
        LEFT JOIN NC.nam_word_similar n ON m.id = n.word_id
        LEFT JOIN NC.nam_word_similar p ON m.id = p.word_id
    </sql>

    <!-- 综合 -->
    <sql id="allIn">
        <include refid="similarField"/>,
        <include refid="pinyinField"/>
        <include refid="baseJoin"/>
    </sql>

    <!-- 通过主键寻找词语 -->
    <select id="selectByPrimaryKey" resultType="com.shuowen.yuzong.dao.model.Word.WordEntity">
        select m.*,
        <include refid="allIn"/>
        where id = #{id}
        group by m.id
    </select>

    <!-- 使用简繁体寻找词语 -->
    <select id="findByCiyuScTc" resultType="com.shuowen.yuzong.dao.model.Word.WordEntity">
        select m.*,
        <include refid="allIn"/>
        where m.ciyu = #{ciyu}
        or m.tszyu = #{ciyu}
        group by m.id
    </select>

    <!-- 使用简繁体、模糊识别寻找词语 -->
    <select id="findByCiyuVague" resultType="com.shuowen.yuzong.dao.model.Word.WordEntity">
        select m.*,
        <include refid="allIn"/>
        where m.ciyu = #{ciyu}
        or m.tszyu = #{ciyu}
        or n.ciyu = #{ciyu}
        or n.tszyu = #{ciyu}
        group by m.id
    </select>


    <!-- 使用简繁体句子寻找词语 -->
    <select id="findBySentence" resultType="com.shuowen.yuzong.dao.model.Word.WordEntity">
        select m.*,
        <include refid="allIn"/>
        where #{ciyu} like concat('%', m.ciyu, '%')
        or #{ciyu} like concat('%', m.tszyu, '%')
        or #{ciyu} like concat('%', n.ciyu, '%')
        or #{ciyu} like concat('%', n.tszyu, '%')
        group by m.id
    </select>

</mapper>