<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuowen.yuzong.data.mapper.Reference.RefMapper">

    <select id="isDictionaryExist" resultType="Boolean">
        <![CDATA[
            SELECT EXISTS
            (
              SELECT 1 FROM NC.reference
              WHERE dictionary = #{dictionary}
            )
        ]]>
    </select>

    <select id="isDictionaryNotEmpty" resultType="Boolean">
        <![CDATA[
            SELECT EXISTS
            (
              SELECT 1 FROM NC.reference
              WHERE dictionary = #{dictionary}
              AND content NOT LIKE '//%//'
            )
        ]]>
    </select>

    <select id="getItemsByQuery" resultType="com.shuowen.yuzong.data.model.Reference.RefEntity">
        SELECT * FROM NC.reference
        WHERE content LIKE CONCAT('%', #{query}, '%')
        AND dictionary = #{dictionary}
    </select>

    <select id="getItemByRandom" resultType="com.shuowen.yuzong.data.model.Reference.RefEntity">
        SELECT *
        FROM NC.reference
        WHERE dictionary = 'ncdict'
        AND content NOT LIKE '//%//'
        ORDER BY RAND()
        LIMIT 1;
    </select>

    <select id="getPageBySort" resultType="com.shuowen.yuzong.data.model.Reference.RefEntity">
        <![CDATA[
            SELECT *
            FROM NC.reference
            WHERE dictionary = #{dictionary}
            AND sort BETWEEN
            (
                SELECT MAX(sort) FROM NC.reference
                WHERE dictionary = #{dictionary}
                AND sort <=
                (
                  SELECT sort FROM NC.reference
                  WHERE dictionary = #{dictionary}
                  AND sort = #{sort}
                  LIMIT 1
                )
                AND content = '/FRONT/'
            )
            AND
            (
                SELECT MIN(sort) FROM NC.reference
                WHERE dictionary = #{dictionary}
                AND sort >=
                (
                   SELECT sort FROM NC.reference
                   WHERE dictionary = #{dictionary}
                   AND sort = #{sort}
                   LIMIT 1
                )
                AND content = '/END/'
            )
            ORDER BY sort;
        ]]>
    </select>

    <select id="findNearby" resultType="com.shuowen.yuzong.data.model.Reference.RefEntity">
        SELECT * FROM NC.reference
        WHERE dictionary = #{dictionary}
        AND sort ${before ? '&lt;' : '>'} #{sort}
        ORDER BY sort ${before ? 'DESC' : 'ASC'}
        LIMIT 1
    </select>

    <!--  插入  -->
    <insert id="insert" parameterType="com.shuowen.yuzong.data.model.Reference.RefEntity">
        INSERT INTO NC.reference(dictionary, sort, content, page_info)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.dictionary}, #{item.sort}, #{item.content}, #{item.pageInfo})
        </foreach>
    </insert>

    <!-- 页面边缘的标记符号，除了序号是可以更改的，其他的都是要稳定的 -->
    <update id="updateEdge" parameterType="com.shuowen.yuzong.data.model.Reference.RefEntity">
        UPDATE NC.reference
        SET page_info = #{pageInfo}
        WHERE dictionary = #{dictionary}
        AND sort = #{sort}
    </update>

    <update id="deleteEdge" parameterType="com.shuowen.yuzong.data.model.Reference.RefEntity">
        DELETE FROM NC.reference
        WHERE dictionary = #{dictionary}
        AND sort = #{sort}
    </update>

    <!-- 清空 -->
    <delete id="deleteInside" parameterType="String">
        DELETE FROM NC.reference WHERE
        (sort > #{frontSort} AND #{endSort} > sort )
        AND dictionary = #{dictionary}
    </delete>


    <select id="findPageinfo" resultType="com.shuowen.yuzong.data.model.Reference.RefEntity">
        SELECT * FROM NC.reference
        WHERE dictionary = #{dictionary}
        AND BINARY content = '/FRONT/'
        ORDER BY sort
    </select>

    <!--  获取统计数据  -->
    <select id="findRowCountInReferTable" resultType="int">
        <![CDATA[
        SELECT COUNT(*) FROM NC.reference
        WHERE BINARY dictionary IN
        (
            SELECT code FROM NC.dictionary_info
            WHERE BINARY dialects LIKE CONCAT('%', #{dialect}, '%')
        )
        ]]>
    </select>
</mapper>