<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuowen.yuzong.data.mapper.Refer.DictMapper">

    <select id="getAll" resultType="com.shuowen.yuzong.data.model.Refer.DictEntity">
        SELECT * FROM NC.dictionary_info
    </select>

    <select id="findByDialect" resultType="com.shuowen.yuzong.data.model.Refer.DictEntity">
        SELECT * FROM NC.dictionary_info
        WHERE dialects LIKE CONCAT('%', #{dialect}, '%')
    </select>

</mapper>
