<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuowen.yuzong.dao.mapper.Account.UserMapper">

    <select id="getUser" resultType="com.shuowen.yuzong.dao.model.Account.UserEntity">
        SELECT * FROM NC.user
        WHERE username = #{username}
    </select>

    <insert id="insertUser" parameterType="com.shuowen.yuzong.dao.model.Account.UserEntity">
        INSERT INTO NC.user
        (username, password, authority)
        values (#{username}, #{password}, #{authority})
    </insert>

</mapper>